@tailwind base;
@tailwind components;
@tailwind utilities;

.active-body {
  overflow: hidden;
}
.error.active {
  transform: translateX(0);
  opacity: 1;
}

.collapse-form.open {
  display: block;
}

.modal.active {
  display: block;
}
