@tailwind base;
@tailwind components;
@tailwind utilities;

.active-body {
  overflow: hidden;
}
.error.active {
  transform: translateX(0);
  opacity: 1;
}

.collapse-form.open {
  display: block;
}

.modal.active {
  display: block;
}

.card {
  animation: slideUp 300ms ease-in-out;
}

input.active {
  box-shadow: 0 0 1px 3px rgba(89, 159, 61, 0.5);
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}
